/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
  margin: 24px;
  padding-bottom: 21px;
}

.page-item {
  font-size: 1rem;
  cursor: pointer;
}

.page-link {
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background-color: #111;
  border: 1px solid #ffc107;
}

.page-link:hover {
  background-color: #ffc107;
  color: #111;
}

.page-link:focus {
  outline: none;
}

.page-link[aria-label="Previous"],
.page-link[aria-label="Next"] {
  padding: 8px 15px;
}

.page-link:disabled {
  color: gray;
  background-color: #444;
  cursor: not-allowed;
}

.active-link {
  background-color: #e0a800 !important;
  color: #111 !important;
}

.inactive-link {
  color: gray !important;
}

.page-link:hover {
  color: #000;
  background-color: #ffc107;
}
.page-item,
.page-link {
  user-select: none;
}
